body {
  overflow-x: hidden;
  font-family: Georgia;
}

.center {
  display: block;
  margin: 20px auto;
}

.extra-margin {
  margin: 30px 0px;
}

.pic_text {
  padding-top: 35px;
}

figcaption {
  text-align: center;
}

.btn-primary {
  color: rgba(255,255,255, .5);
  background-color: #343a40!important;
  border-color: #343a40!important;
}

footer {
  background-color: #343a40!important;
  color: rgba(255,255,255,.5);
  padding: 25px;
}

.form-control {
  border-radius: 0px;
}

.card-subtitle {
  font-style: italic;
  padding-bottom: 15px;
}

.card {
  margin: 25px;
  padding: 10px;
  box-shadow: 0px 0px 5px 0px grey;
}

.but {
  color: white;
  box-shadow: 0 5px 0 lightblue;
  color: white;
  padding: 1em 1.5em;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
}

.but:hover {
  background-color: #silver;
}


input[type="submit"] {
  display: block;
  margin: 0px auto;
  width: 100%;
}

.bigfont {
  font-weight: bold;
  font-size: 40px;
}

li>a {
  color: white;
}

li> a:hover {
  color: white;
}

.retirement {
  font-size: 30px;
  font-weight: bold;
}

.signincolors {
  color: black;
}

a:hover {
   color: black;
 }

h3>a:hover {
  color: blue;
}

.bottompad {
  padding-bottom: 30px;
}

.top_pad {
  padding-top: 150px;
}

table {
  border: 2px solid steelblue;
  width: 50%;
  text-align: center;
  margin: 20px auto;
  border-collapse: collapse;
}

table tr th, table tr td {
  border: 1px solid steelblue;
  padding: 15px;
}

th {
  color: steelblue;
  font-weight: bold;
}

td:hover {
  font-size: 200%;
}

footer {
   position:fixed;
   left:0px;
   bottom:0px;
   height:70px;
   width:100%;
   z-index: 1;
}
