{% extends 'bootstrap/base.html' %}

{% block title %} Home {% endblock %}

{% block styles %}
<!-- to import Bootstrap3, need super() which inherits CDN from bootstrap base-->
  {{ super() }}
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="../static/css/main.css">
   {% endblock %}

{% block scripts %}
  {{ super() }}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <!-- AJAX CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
 {% endblock %}

 {% block navbar %}
 <nav class="navbar navbar-expand-sm bg-light navbar-light">
      <ul class="nav navbar-nav">
        <li class="nav-item active">
          <a>Retirement Planning</a>
        </li>
      </ul>
      {% if current_user.is_authenticated %}
    <p class="navbar-text float-right"><a href="{{ url_for('logout') }}">Logout</a></p>
    <p class="navbar-text float-right"><a href="{{ url_for('profile') }}">Profile</a></p>

    {% else %}
    <p class="navbar-text float-right"><a href="{{ url_for('login') }}">Login</a></p>
    <p class="navbar-text float-right"><a href="{{ url_for('register') }}">Register</a></p>
    {% endif %}
  </nav>


{% endblock %}

{% block content %}
  {% block app_content %}{% endblock %}
{% endblock %}
