{% extends 'bootstrap/base.html' %}

{% block title %} {% endblock %}

{% block styles %}
<!-- to import Bootstrap3, need super() which inherits CDN from bootstrap base-->
  {{ super() }}
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="../static/css/main.css">
   {% endblock %}

{% block scripts %}

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <!-- AJAX CDN -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
 {% endblock %}

 {% block navbar %}
<nav class="navbar navbar-expand-lg navbar bg-dark">
  <ul class="nav navbar-nav mr-auto but">
    <li class="nav-item active retirement">
      <a href="{{ url_for('index') }}">Retirement Saver</a>
  </li>
    </ul>
      {% if current_user.is_authenticated %}
      <ul class="nav navbar-nav mr-auto but">
        <li class="navbar-text float-right but"><a href="{{ url_for('logout') }}">Logout</a></li>
          <li class="navbar-text float-right but"><a href="{{ url_for('profile') }}">Profile</a></li>

          {% else %}
          <li class="navbar-text float-right but"><a href="{{ url_for('login') }}">Login</a></li>
          <li class="navbar-text float-right but"><a href="{{ url_for('register') }}">Register to get your individual results</a></li>
    </ul>
      {% endif %}
    </nav>

{% endblock %}

{% block content %}
{% with messages=get_flashed_messages()%}
{% if messages %}
  {% for message in messages %}
  <div class="alert alert-warning">
  {{ message }}
</div>
  {% endfor %}
  {% endif %}
  {% endwith %}
  {% block app_content %}{% endblock %}

  <footer>
    <div class="row">
      <div class="col-md-4">
      <span>&#174; All Rights Reserved</span>
      </div>
      <div class="col-md-8">
        <a href="mailto:matthew.hasson93@gmail.com" target="_blank"><i id="social-mail" class="fa fa-envelope-square fa-3x social"></i></a> <br>
      </div>
    </div>
    </footer>

{% endblock %}
