{% extends 'base.html' %}

{% block title %} Welcome! {% endblock %}

{% block app_content %}
<div class="row extra-margin">
  <div class="col-md-5">
    <figure class="imgsize">
      <img class="center" src="https://raw.githubusercontent.com/mattstermh93/Allocate-Your-Funds/master/img/bundles-cash-6317739.jpg" alt="Image" width="100%">
      <figcaption>
      <p>This could be all yours</p>
    </figcaption>
  </figure>
</div>
<div class="col-md-7 pic_text">
<h5 class="bigfont offset-md-3 container">Plan Smart</h5>

<ul>
  This site is dedicated to helping you save for retirement. It's not always something we think about, and when we do:<br></br>
  <li class="container offset-md-1"> It's only for a brief period before moving onto the next priority on our list.
    <li class="container offset-md-1"> Unfortunatetely (or, perhaps, fortunately), retirement often hits us earlier than we expect <br> </br>
      We all want to enjoy those days to the best of our abilities. <br>
       Our tool will help you decide where and how to allocate your money so that <br>
       you have enough cash to spend when your working days are over.
</ul>

</div> <!--end main second row -->
<div class="row extra-margin">
<div class="col-md-7 pic_text">
Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
</div>
<div class="col-md-5">
  <figure>
    <img class = "center" src="https://raw.githubusercontent.com/mattstermh93/Allocate-Your-Funds/master/img/Basic-Chart.jpg" alt="Image" width="100%">
      <figcaption>
        <p>This is a caption</p>
      </figcaption>
    </figure>
  </div> <!-- second image, bottom row, reverse of the previous dib -->
</div> <!-- container end -->
</main>

<footer>
<div class="row">
<div class="col-md-4">
  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
</div>
  <div class="col-md-4">
  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
</div>
  <div class="col-md-4">
  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  </div>
</div>
</div>
</footer>
{% endblock %}
