{% extends 'base.html' %}

{% block title %} Welcome! {% endblock %}

{% block app_content %}
<div class="row extra-margin">
  <div class="col-md-5">
    <figure class="imgsize">
      <img class="center" src="https://raw.githubusercontent.com/mattstermh93/Allocate-Your-Funds/Adding_Calculations/app/static/img/bundles-cash-6317739.jpg" alt="Image" width="100%">
      <figcaption>
      <h3 class="white-text">Do you wish you had more money?</h3>
    </figcaption>
  </figure>
</div>
<div class="col-md-7 pic_text">
<h5 class="bigfont offset-md-3 container white-text">Plan Smart</h5>

<ul class="white-text">
  This site is dedicated to helping you save for retirement. It's not always something we think about, and when we do:<br></br>
  <li class="container offset-md-1"> It's only for a brief period before moving onto the next priority on our list</li>
    <span class="container offset-md-1"> Unfortunatetely (or, perhaps, fortunately), retirement often hits us earlier than we expect</span> <br> </br>
  We all want to enjoy those days to the best of our abilities. <br>
  Our tool will help you decide where and how to allocate your money so that <br>
  you have enough cash to spend when your working days are over.

  <br></br>

    <li>It's important to keep in mind that our tool is not a one-size-fits-all model.
  There are many different approaches to saving for retirement, and hundreds of schools of thought. We look at:</li>
   <li>Your age</li>
   <li>How much you make</li>
   <li>Whether you are someone who is willing to take calculated risks.</li>
   <span>Here is one generally accepted principal: the younger you are, the more risk you should take - specifically with your finances.
  </span>
</ul>

</div> <!--end first main row -->
  <div class="row extra-margin">
    <div class="col-md-6 pic_text top_pad white-text">

      <ul>
      <li>The old rule of thumb used to be that you should subtract your age from 100 - and that's the percentage of your portfolio that you should keep in stocks. For example, if you're 30, you should keep 70% of your portfolio in stocks. If you're 70, you should keep 30% of your portfolio in stocks. </li> <br>
      <li>However, with Americans living longer and longer, many financial planners are now recommending that the rule should be closer to 110 or 120 minus your age. That's because if you need to make your money last longer, you'll need the extra growth that stocks can provide.</li><br>
      <li>Investing in a 401K is one of the best financial decisions you can make. You'll often hear people say they cannot afford to put money into their 401K because then they won't have any savings, but studies have shown many people spend more than they should. If you are able to cut back on entertainemnt, we recommend putting that money into your 401K instead.</li><br>
      <li>Our product will tell you exactly how and where to invest, and it's completely free!</li>
      </ul>

  </div> <!-- end bottom paragraph, second row -->
    <div class="col-md-5 container">
      <h3 class="bigfont container bottompad white-text">Take Action</h3>
        <figure>
          <img class = "center" src="https://raw.githubusercontent.com/mattstermh93/Allocate-Your-Funds/master/app/static/img/socialsecgraph.jpg" alt="Image" width="100%">
            <figcaption class="white-text">
              <h5>
                Don't rely on social security benefits<h5>
          </figcaption>
        </figure>
      </div> <!-- end column -->
    </div> <!-- end container -->

{% endblock %}
