{% extends 'base.html' %}

{% block app_content %}

<div class="row">
  <div class="col-md-4 ">
    <img src="https://images.vexels.com/media/users/3/143372/isolated/preview/6e633a235ea0d523078e667b9f84f15b-blue-check-mark-by-vexels.png" width="100%" alt="Image">
    <h1 class="center container">Verified</h1>
  </div>
  <div class="col-md-5 ">
    <h2>Hi {{ current_user.username }}!</h2>
    <br></br>
    <h4 class="bottom-bord">{{ current_user.email }}</h4>
    <h4 class="pull-right"><a class="EditProfilecolor" href="/edit_profile">Edit Profile</a>

    <br></br>
    <h3><a href="{{ url_for('results') }}">Click here to view your results</a></h3>

  </div>
</div>

{% endblock %}
