{% extends 'base.html' %}

{% block app_content %}

<div class="row">
  <div class="col-md-4 ">
    <img src="https://raw.githubusercontent.com/mattstermh93/Allocate-Your-Funds/master/img/6e633a235ea0d523078e667b9f84f15b-blue-check-mark-by-vexels.png" width="100%" alt="Image">
  </div>
  <div class="col-md-5 ">
    <h2>Hi {{ current_user.username }}!</h2>
    <br></br>
    <h4 class="bottom-bord">{{ current_user.email }}</h4>
    <h4 class="pull-right edit-profile-color"><a href="/edit_profile">Edit Profile</a></h4>
  </div>
</div>

{% endblock %}
